{% extends 'base.html' %}



{% block content %}


<section id="bricks">

	<div class="row masonry">

		<!-- brick-wrapper -->
		<div class="bricks-wrapper">

			<div class="grid-sizer"></div>

			{% for i in articles %}

			<article class="brick entry animate-this">

				<div class="entry-thumb">
					<a href="single-standard.html" class="thumb-link">
						<img src="{{ i.urlToImage }}" alt="Pattern">
					</a>
				</div>

				<div class="entry-text">
					<div class="entry-header">

						<div class="entry-meta">
							<span class="cat-links">
								<a href="#">{{ i.author }}</a>
								<a href="#">{{ i.source.name }} </a>
							</span>
						</div>

						<h1 class="entry-title"><a href="single-standard.html">{{ i.title }}</a>
						</h1>

					</div>
					<div class="entry-excerpt">
						{{ i.description }}
						<small>date: {{ i.publishedAt }}</small>
						<a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">See News</a>
					</div>
				</div>

			</article> <!-- end article -->

			{% endfor%}







		</div> <!-- end brick-wrapper -->

	</div> <!-- end row -->

	<div class="row">

		<nav class="pagination">
			<span class="page-numbers prev inactive">Prev</span>
			<span class="page-numbers current">1</span>
			<a href="#" class="page-numbers">2</a>
			<a href="#" class="page-numbers">3</a>
			<a href="#" class="page-numbers">4</a>
			<a href="#" class="page-numbers">5</a>
			<a href="#" class="page-numbers">6</a>
			<a href="#" class="page-numbers">7</a>
			<a href="#" class="page-numbers">8</a>
			<a href="#" class="page-numbers">9</a>
			<a href="#" class="page-numbers next">Next</a>
		</nav>

	</div>

</section> <!-- end bricks -->





{% endblock content %}